h1{
    background-color:#d3d61c ;
}
h2{
    background-color:#4a69e2 ;
}
.res{
    background-color: rgb(160, 56, 56);
}
.edu{
    background-color: #1F7EB9;
}
.ski{
    background-color: #17926d;
}
.hob{
    background-color: #35991c;
}
.det{
    background-color: #421f4d;
}
.sri{
    background-color: #c5ec16;
}